<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p> Par contre il n'y a pas encore de gossip, mais ça va venir !</p>
    <p> En attendant, tu peux toujours aller sur la page de <a href="/gossips/new/">le texte du lien</a></p>
  </body>
</html>